pipeline/1 AEMET OBSERVACION_HORARIA.json
{
	"name": "1 AEMET OBSERVACION_HORARIA",
	"properties": {
		"activities": [
			{
				"name": "peticion_url_observaciones",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"api_key": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyaWNhcmRvLmNhbWFjaG9Abm92YXF1YWxpdHkuZXMiLCJqdGkiOiIxMjljNWQzYS1jZWFlLTQ5ZWYtODQ2OS05ZmJjZjY5YzIyMTUiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTY2OTE4NjA4NywidXNlcklkIjoiMTI5YzVkM2EtY2VhZS00OWVmLTg0NjktOWZiY2Y2OWMyMjE1Iiwicm9sZSI6IiJ9.xtPVH8hEwLGRCmyL8Xccv7s2bNVB-wbVL7XSOP1VipM",
						"cache-control": "no-cache"
					},
					"url": "https://opendata.aemet.es/opendata/api/observacion/convencional/todas"
				}
			},
			{
				"name": "copia_observacion_diaria",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "peticion_url_observaciones",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "LOAD_DATE",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							{
								"name": "REC_SRC",
								"value": "'https://opendata.aemet.es/opendata/api/observacion/convencional/todas'"
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AvroSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "AvroWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "scr_aemet",
						"type": "DatasetReference",
						"parameters": {
							"url_datos_aemet": {
								"value": "@activity('peticion_url_observaciones').output.datos",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Avro1",
						"type": "DatasetReference",
						"parameters": {
							"directorio": "observacion_diaria",
							"fichero": {
								"value": "@concat('observacion_diaria_',pipeline().TriggerTime)",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"folder": {
			"name": "1 Source to Data_Lake"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-14T16:52:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}