pipeline/2 AEMET OBSERVACION_HORARIA.json
{
	"name": "2 AEMET OBSERVACION_HORARIA",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Avro1",
						"type": "DatasetReference",
						"parameters": {
							"directorio": "observacion_diaria",
							"fichero": "*"
						}
					},
					"fieldList": [
						"childItems",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@utcNow('yyyy-MM-dd 00:00:00')",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type,'File')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Get Metadata2",
										"type": "GetMetadata",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Avro1",
												"type": "DatasetReference",
												"parameters": {
													"directorio": "observacion_diaria",
													"fichero": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"fieldList": [
												"structure"
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "copiar observaciones DL",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Get Metadata2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AvroSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "upsert",
												"upsertSettings": {
													"useTempDB": true,
													"keys": [
														"idema",
														"fint"
													]
												},
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"value": "@activity('Get Metadata1').output.childItems",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "Avro1",
												"type": "DatasetReference",
												"parameters": {
													"directorio": "observacion_diaria",
													"fichero": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DWH_open_data",
												"type": "DatasetReference",
												"parameters": {
													"esquema": "STG",
													"tabla": "AEMET_OBSERVACION_DIARIA"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "2 DL to STG"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-24T10:51:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}