pipeline/2 AEMET PREDICCION_DIARIA.json
{
	"name": "2 AEMET PREDICCION_DIARIA",
	"properties": {
		"activities": [
			{
				"name": "copiar observaciones DL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AvroSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"validateDataConsistency": true,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Avro1",
						"type": "DatasetReference",
						"parameters": {
							"directorio": "prediccion_diaria",
							"fichero": {
								"value": "@activity('Get Metadata1').output.childItems[add(length(activity('Get Metadata1').output.childItems),-1)].name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DWH_open_data",
						"type": "DatasetReference",
						"parameters": {
							"esquema": "STG",
							"tabla": "AEMET_PREDICCIONES"
						}
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Avro1",
						"type": "DatasetReference",
						"parameters": {
							"directorio": "prediccion_diaria",
							"fichero": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@utcNow('yyyy-MM-dd 00:00:00')",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"folder": {
			"name": "2 DL to STG"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-28T15:38:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}