pipeline/2 INE DATOS_ESTADISTICA_ESPERIMENTAL.json
{
	"name": "2 INE DATOS_ESTADISTICA_ESPERIMENTAL",
	"properties": {
		"activities": [
			{
				"name": "lee_directorios_archivos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "archivo_texto_Data_Lake",
						"type": "DatasetReference",
						"parameters": {
							"directorio": "CATALOGO",
							"contenedor": "ine",
							"fichero": "DIRECTORIO_DATOS_INE.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lee_directorios_archivos",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lee_directorios_archivos').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copiar oficheros_ine",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "REC_SRC",
											"value": "$$FILEPATH"
										},
										{
											"name": "LOAD_DTS",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "IF EXISTS (SELECT * FROM sys.tables WHERE name = '@{item().table_name}' AND type = 'U')\nBEGIN\n    \tdrop TABLE STG.@{item().table_name};\n\tEND",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"validateDataConsistency": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "archivo_texto_Data_Lake_tab",
									"type": "DatasetReference",
									"parameters": {
										"directorio": {
											"value": "@item().Directorio",
											"type": "Expression"
										},
										"contenedor": "ine",
										"fichero": {
											"value": "@item().fichero_ultimo\r\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DWH_open_data",
									"type": "DatasetReference",
									"parameters": {
										"esquema": "STG",
										"tabla": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "2 DL to STG"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-24T17:04:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}